code[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #1d1f21;
  color: #c5c8c6;
}

pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #1d1f21;
  color: #c5c8c6;

  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: #b4b7b4;
  }
}

code[class*="language-"] {
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background: #b4b7b4;
  }
}

pre[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background: #b4b7b4;
  }
}

code[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background: #b4b7b4;
  }
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token {
  &.comment, &.prolog, &.doctype, &.cdata {
    color: #969896;
  }

  &.punctuation {
    color: #c5c8c6;
  }

  &.namespace {
    opacity: 0.7;
  }

  &.operator, &.boolean, &.number {
    color: #de935f;
  }

  &.property {
    color: #f0c674;
  }

  &.tag {
    color: #81a2be;
  }

  &.string {
    color: #8abeb7;
  }

  &.selector {
    color: #b294bb;
  }

  &.attr-name {
    color: #de935f;
  }

  &.entity, &.url {
    color: #8abeb7;
  }
}

.language-css .token.string, .style .token.string {
  color: #8abeb7;
}

.token {
  &.attr-value, &.keyword, &.control, &.directive, &.unit {
    color: #b5bd68;
  }

  &.statement, &.regex, &.atrule {
    color: #8abeb7;
  }

  &.placeholder, &.variable {
    color: #81a2be;
  }

  &.deleted {
    text-decoration: line-through;
  }

  &.inserted {
    border-bottom: 1px dotted #fff;
    text-decoration: none;
  }

  &.italic {
    font-style: italic;
  }

  &.important, &.bold {
    font-weight: bold;
  }

  &.important {
    color: #c66;
  }

  &.entity {
    cursor: help;
  }
}

pre > code.highlight {
  outline: 0.4em solid #c66;
  outline-offset: 0.4em;
}